.filterForm__list {
  padding: {
    left: 0px !important;
  }
}
.filterForm___form {
  padding: {
    left: 10px;
  }
  margin: {
    bottom: 30px;
  }
  border: {
    left: solid 1px;
    color: #F1F1F1;
  }
}
